<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ws="http://www.springframework.org/schema/integration/ws"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/ws http://www.springframework.org/schema/integration/ws/spring-integration-ws-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.0.xsd
		http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- ANNOTATION CONFIG -->
	<web-services:annotation-driven />
	<mvc:annotation-driven />
	
	<!-- SCAN PACKAGES -->
	<context:component-scan base-package="com.lo.apps.ws" />

	<!-- STATIC WSDL LOCATION -->
<!-- 	<web-services:static-wsdl id="invoice" location="/WEB-INF/wsdl/invoice.wsdl" /> -->
	
	<!-- DYNAMIC WSDL -->
	<web-services:dynamic-wsdl id="invoice" portTypeName="Invoice" locationUri="http://localhost:8080/invoice/">
		<web-services:xsd location="/WEB-INF/xsd/invoice.xsd"/>
	</web-services:dynamic-wsdl>

	<!-- JAXB MARSHALLER -->
<!-- 	<bean id="marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller"> -->
<!-- 		<property name="contextPath" value="com.lo.apps.ws.entity.invoice" /> -->
<!-- 		<property name="schema" value="/WEB-INF/xsd/invoice.xsd" /> -->
<!-- 	</bean> -->
	
	<!-- ENDPOINT INTERCEPTORS -->
<!-- 	<bean class="org.springframework.ws.server.endpoint.mapping.PayloadRootAnnotationMethodEndpointMapping"> -->
<!-- 		<property name="interceptors"> -->
<!-- 			<list> -->
<!-- 				<ref bean="wsServerSecurityInterceptor"/> -->
<!-- 				<ref bean="payloadValidatingInterceptor"/> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
	<!-- VALIDATING INTERCEPTOR -->
<!-- 	<bean id="payloadValidatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor" -->
<!-- 	p:schema="/WEB-INF/xsd/invoice.xsd"  -->
<!-- 	p:validateRequest="true"  -->
<!-- 	p:validateResponse="true"/> -->
	
	<!-- WS SECURITY INTERCEPTOR -->
<!-- 	<bean id="wsServerSecurityInterceptor" class="org.springframework.ws.soap.security.wss4j.Wss4jSecurityInterceptor"  -->
<!-- 	p:validationActions="Timestamp Signature Encrypt"  -->
<!-- 	p:validationTimeToLive="10"  -->
<!-- 	p:timestampStrict="true"  -->
<!-- 	p:enableSignatureConfirmation="true"  -->
<!-- 	p:validationSignatureCrypto-ref="crypto" -->
<!-- 	p:validationDecryptionCrypto-ref="crypto" -->
<!-- 	p:securementActions="Signature" -->
<!-- 	p:securementSignatureCrypto="crypto"/>	 -->

	<!-- KEYSTORE -->
<!-- 	<bean id="crypto" class="org.springframework.ws.soap.security.wss4j.support.CryptoFactoryBean"  -->
<!-- 	p:keyStorePassword="comp-ks-pass"  -->
<!-- 	p:keyStoreLocation="classpath:src/main/resources/security/keys/comp.ks"/>	     -->


</beans>